//declarando variáveis globalmente utilizando root, sem precisar importar o arquivo
:root { 
    --branco: #fff;
    --cinza: #9f9f9f;
    --amarelo: #ffed7c;

    --primary-color: #04265d;
    --secondary-color: #d3320d;
}