<!-- Buscar pokémons -->
<poke-search (emmitSearch)="getPokemon($event)" *ngIf="!apiError"></poke-search>

<section class="listagem">
    <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">
        <a [routerLink]="['details', pokemon.status.id]" class="pokemon" *ngIf="pokemon.status">
            <section class="pokemon__status">
                <h3> {{ pokemon.name }} </h3>
                <ul>
                    <li *ngFor="let value of pokemon.status.types">
                        {{ value.type.name }}
                    </li>
                </ul>
            </section>
            <section class="pokemon__image">
                <img [src]="pokemon.status.sprites.other.dream_world.front_default" [alt]="pokemon.name">
            </section>
        </a>
    </ng-template>

</section>
<section class="apiError" *ngIf="apiError">
    <span>Ops!</span>
    <h4>  Pokédex parou de funcionar...</h4>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/92.png" 
    alt="Erro no detalhamento do pokemon">
</section>