<a href="" class="pokemon">
    <section class="pokemon__status">
        <h3> Bulbasaur </h3>
        <ul>
            <li>Grass</li>
            <li>Poison</li>
        </ul>
    </section>

    <section class="pokemon__image">
        <img src="assets/icons/bulbasaur.png" alt="Bulbasaur">

    </section>
</a>

<a href="" class="pokemon">
    <section class="pokemon__status">
        <h3> Bulbasaur </h3>
        <ul>
            <li>Grass</li>
            <li>Poison</li>
        </ul>
    </section>

    <section class="pokemon__image">
        <img src="assets/icons/bulbasaur.png" alt="Bulbasaur">

    </section>
</a>